body{
    font-family: 'Segoe UI'
}
form span{
    font-weight: 580;
    color: red;
}
form input{
    font-weight: 580;
}
form select{
    font-weight: 580;
}
form textarea{
    font-weight: 580;
}
label{
    font-weight: 600;
}
.no-border-input{
    border: none!important;
    background: transparent!important
}
.panel-heading {
    cursor: pointer;
}
.select2-container{
    width: 100%!important;
}
span.pro{
    color: black!important;
}
@media (min-width: 992px){
    .dataTables_filter{
        float:left;
    }
    .dataTables_length{
        float:right;
    }
}
